/*!
+---------------------------------------------------------------------+
|                     _   _                                           |
|                    | | | |                                          |
|       ___ __ _ _ __| | | |__   ___  _   _  ___ _ __ ___ __ _        |
|      / __/ _` | '__| | | '_ \ / _ \| | | |/ _ \ '__/ __/ _` |	      |
|     | (_| (_| | |  | |_| | | | (_) | |_| |  __/ |_| (_| (_| |	      |
|      \___\__,_|_|  |_(_)_| |_|\___/ \__, |\___|_(_)\___\__,_|	      |
|                                      __/ |                   	      |
|                                     |___/                           |
|                                                                     |
| URL: http://carl.hoyer.ca                                           |
| Github: https://github.com/choyer/carl.hoyer.ca                     |
| AUTHOR: Carl Hoyer (@choyer)                                        |
|                                                                     |
+---------------------------------------------------------------------+
*/

// ==========================================================================
//
// $I M P O R T S
//
// ==========================================================================
@import "_vendor/normalize";
@import "_vendor/html5bp";
@import "_vendor/typeplate";
@import "_vendor/fontello";


// ==========================================================================
//
// $V A R I A B L E S
//
// ==========================================================================

// $C o l o u r
// --------------------------------------------------------------------------
$primary-nav-color: 		#cb0000;	// rich red
$accent-color: 				#efbcbb;	// red
$accent-color-alt:			#e2e2e2;	// light grey
$background-color: 			#fcfcfa;	// grey'ish
$nav-background-color:		#f9f9f1;	// cream
$nav-border-color:			#e2e2e2;	// light grey

// ==========================================================================
//
// $C u s t o m
//
// ==========================================================================

// $G l o b a l
// --------------------------------------------------------------------------

html { height: 100%; }

body {
	height: 100%;
	background-color: $background-color;
}

a {
	color: $primary-nav-color;
	text-decoration: underline;
}

a:hover {
	color: $primary-nav-color;
	text-decoration: none;
}

::-moz-selection {
	background-color: darken($nav-background-color, 10%);
}

::selection {
	background-color: darken($nav-background-color, 10%);
}

hr {
	border-top: 1px solid $accent-color;
}

ul {
    list-style-type: none;
    margin: 0;
}

// Create more breathing room on headers

h2 {
	margin-top: 1.1em;
}


// $H e l p e r s
// --------------------------------------------------------------------------

.center {
	text-align: center;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.flourish-divider {
	opacity: 0.2;
	height: 24px;
	width: 200px;
}


// $P e r s i s t e n t   N a v
// --------------------------------------------------------------------------

#persistent-bar {
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 300px;
	background-color: $nav-background-color;
	border-right: 1px solid $nav-border-color;
}

#persistent-bar .masthead h1 {
	font-weight: normal;
	font-family: $font-family;
}

#persistent-bar .wingdoozle {
	padding: 15px 35px;
	font-size: 0.9em;
	font-family: $font-family;
	color: lighten($body-copy-color, 25%);
	text-align: center;
}

#persistent-bar .masthead a {
	text-decoration: none;
}

#persistent-bar .masthead a:hover {
	text-decoration: underline;
}

.main-nav {
	font-family: $font-family-sans;
	font-size: 1.75em;
	line-height: 145%;
	padding: 1em 0 1em 0;
}

.main-nav a {
	color: $primary-nav-color;
	text-decoration: none;
}

.main-nav a .nav-dash {
	color: $nav-background-color;
}

.main-nav a:hover .nav-dash {
	color: $primary-nav-color;
	text-decoration: none;
}

.main-nav a:hover {
	color: darken($primary-nav-color, 10%);
	text-decoration: none;
}

.social-nav {
	width: 10em;
    margin: 0px auto;
	margin-top: 2em;
	margin-bottom: 3.5em;
}

.social-item {
	float: left;
	padding-right: 0.5em;
}

.social-nav a {
	opacity: 0.55;
}

.social-nav a:hover {
	opacity: 0.85;
}

section.coderwall {
	position: relative;
}


// $M a i n   C o n t e n t
// --------------------------------------------------------------------------

#main {
	position: absolute;
	left: 300px;
	min-width: 320px;
	max-width: 660px;
	padding: 25px;
	margin-top: 1.5em;
}

// $A r t i c l e
// --------------------------------------------------------------------------

article .post footer {
	margin-top: 3em;
}

article .postdate,
#archive .postdate {
	color: lighten($body-copy-color, 35%);
	font-size: 0.75em;
	font-family: $font-family-sans;
	font-weight: normal;
}

article header h1 { padding-top: 1em; }

article .meta {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

article .meta sup {
	font-family: $font-family-sans;
}

#comments {
	margin-top: 1.5em;
	padding-top: 1em;
	border-top: 1px solid $accent-color-alt;
}

// $A r t i c l e   A r c h i v e s
// --------------------------------------------------------------------------

#archive h2 {
	color: lighten($body-copy-color, 20%);
	padding-bottom: 0.5em;
	border-bottom: 1px solid $accent-color-alt;
	margin-top: 1.5em;
}

#archive ul,
#archives li {
	padding-left: 0;
}

#archive .postdate {
	padding-left: 3em;
}

.posttag-wrapper {
	font-size: 0.75em;
	padding-left: 0.75em;
}

.posttag-bookend {
	color: $primary-nav-color;
}

.posttags {
	color: lighten($body-copy-color, 25%);
}


// $F o o t e r
// --------------------------------------------------------------------------

#pgfooter {
	color: #cdcdcd;
	font-size: 0.75em;
	border-top: 1px solid $accent-color;
	margin-top: 1em;
}

#pgfooter p {
	text-align: center;
	color: #b9b9b9;
}

#pgfooter a {
	text-decoration: none;
	color: darken(#bbb, 25%);
}

#pgfooter a:hover {
	text-decoration: underline;
	color: darken(#bbb, 50%);
}

/* Thanks to http://css-tricks.com/centering-in-the-unknown/ */
#pgfooter .attrib {
	text-align: center;
}

#pgfooter .attrib:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

#pgfooter .centered {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}

#pgfooter .attrib-label {
	margin-top: -0.6em;
}

.build {
	margin-top: 1em;
	font-size: 0.6em;
}

.nav-home {
	margin-top: 2em;
	font-size: 0.9em;
	font-family: $font-family;
}

.nav-home a {
	text-decoration: none;
	color: lighten($body-copy-color, 30%);
}

.nav-home a:hover {
	text-decoration: none;
	color: darken($body-copy-color, 35%);
}

.nav-home .arrow {
	color: $primary-nav-color;
}

@import "_vendor/syntax";
