<% if current_page.data.homelink %><div class="nav-home"><a href="/"><span class="arrow">←</span> Back to homepage</a></div><% end %>
<footer id="pgfooter">
    <p>&copy;2013 Carl Hoyer. Some rights reserved [<a href="https://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC 3.0</a>]<br>
    Built using <a href="http://middlemanapp.com/" title="Middleman static site generator">Middleman</a>.</p>
    <div class="attrib">
	    <a href="/colophon" class="centered">
	    	<i class="icon-cc-by icon2x"></i>
	    	<div class="attrib-label"><small>Colophon</small></div>
	    </a>
    </div>
    <div class="build center">Build: <%= File.mtime(current_page.source_file).strftime("%d.%m.%Y.%T") %></div>
</footer>
