<% if current_page.data.homelink %><div class="nav-home"><a href="/"><span class="arrow">â†</span> Back to homepage</a></div><% end %>
<footer id="pgfooter">
    <p>Copyright &copy;2013 Carl Hoyer. Built using <a href="http://middlemanapp.com/" title="Middleman static site generator">Middleman</a>. <%= link_to '<img src="/img/icon-attribution.png" class="icon-attrib center" width="24px" height="24px">', '/attrib' %></p>
</footer>
