<% if current_page.data.homelink %><div class="nav-home"><a href="/"><span class="arrow">←</span> Back to homepage</a></div><% end %>
<footer id="pgfooter">
    <p>Copyright &copy;2013 Carl Hoyer. Built using <a href="http://middlemanapp.com/" title="Middleman static site generator">Middleman</a>.</p>
    <a href="/attrib">
    	<img src="/img/icon-attribution.png" class="icon-attrib center" width="24px" height="24px">
    	<div class="center"><small>Attribution</small></div>
    </a>
</footer>
