<% if current_page.data.homelink %><div class="nav-home"><a href="/"><span class="arrow">←</span> Back to homepage</a></div><% end %>
<footer id="pgfooter">
    <p>Copyright &copy;2013 Carl Hoyer. Built using <a href="http://middlemanapp.com/" title="Middleman static site generator">Middleman</a>.</p>
    <div class="attrib">
	    <a href="/attrib" class="centered">
	    	<i class="icon-cc-by icon2x"></i>
	    	<div class="attrib-label"><small>Attribution</small></div>
	    </a>
    </div>
</footer>
