<ul class="main-nav center">
	<li><a href="/writings"><span class="nav-dash">-</span> Writings <span class="nav-dash">-</span></a></li>
	<li><a href="/work"><span class="nav-dash">-</span> Work <span class="nav-dash">-</span></a></li>
	<li><a href="/bio"><span class="nav-dash">-</span> Biographia <span class="nav-dash">-</span></a></li>
</ul>
