<ul class="main-nav center">
	<li><% link_to "writings" do %><span class="nav-dash">-</span> Writings <span class="nav-dash">-</span><% end %></li>
	<li><% link_to "work" do %><span class="nav-dash">-</span> Work <span class="nav-dash">-</span><% end %></li>
	<li><% link_to "bio" do %><span class="nav-dash">-</span> Biographia <span class="nav-dash">-</span><% end %></li>
</ul>
