<div id="persistent-bar">
	<div class="masthead">
	    <a href="/">
	    	<img src="/img/haeckel_antilope.png" width="175px" height="175px" class="center">
	    	<h1 class="center">Carl Hoyer</h1>
	    </a>
    </div>

    <%= partial "wingdoozle" %>

    <%= partial "main-nav" %>

    <img src="/img/flourish-line-b.png" class="flourish-divider center">

    <%= partial "socialite" %>
</div>
