<div id="persistent-bar">
	<div class="masthead">
	    <a href="/">
	    	<%= image_tag "haeckel_antilope.png", :alt => "Haeckel Antilope", :class => "center", :width => "175px", :height => "175px" %>
	    	<h1 class="center">Carl Hoyer</h1>
	    </a>
    </div>

    <%= partial "wingdoozle" %>

    <ul class="main-nav center">
		<li><a href="/writings"><span class="nav-dash">-</span> Writings <span class="nav-dash">-</span></a></li>
		<li><a href="/work"><span class="nav-dash">-</span> Work <span class="nav-dash">-</span></a></li>
		<li><a href="/bio"><span class="nav-dash">-</span> Biographia <span class="nav-dash">-</span></a></li>
	</ul>

    <%= image_tag "flourish-line-b.png", :alt => "flourish divider", :class => "flourish-divider center" %>

    <%= partial "socialite" %>
</div>
