<nav class="social-nav">
	<a href="//github.com/choyer" class="social-item" rel="me"><i class="icon-github-circled icon2x"></i></a>
	<a href="//twitter.com/choyer" class="social-item" rel="me"><i class="icon-twitter icon2x"></i></a>
	<a href="//linkedin.com/in/carlhoyer" class="social-item" rel="me"><i class="icon-linkedin icon2x"></i></a>
</nav>
