<div class="social">
	<ul>
	    <li><a href="https://twitter.com/choyer"><img src="/img/icon-twitter.png"></a></li>
	    <li><a href="https://github.com/choyer"><img src="/img/icon-github.png"></a></li>
	    <li><a href="http://www.linkedin.com/in/carlhoyer"><img src="/img/icon-linkedin.png"></a></li>
	</ul>
</div>
