---
layout: global
title: Attribution
author: Carl Hoyer
date: 2013-03-01
description:
keywords:
---

<h1>Thank you</h1>

<p class="gamma">This site wouldn't be complete without the amazing work generously contributed by the following people ...</p>

<p><a href="http://awardwinningfjords.com/">Thomas Reynolds</a> and numerous others for their fantastic work on <a href="http://middlemanapp.com/">Middleman</a>, the ruby based static site generator that this site is built on. A recently discovered, by me, breath of fresh air in the world of static site generators, many of which I find unwieldy and foreign.</p>

<p>German biologist, <a href="http://en.wikipedia.org/wiki/Ernst_Haeckel">Ernst Haeckel</a> for his 1899 book <a href="http://en.wikipedia.org/wiki/Kunstformen_der_Natur"><em>Khunstformen der Natur</em></a> which provides the incredible animal, creature and natural phenomenen illustrations scattered throughout this site. Ganz viel und dank to <a href="http://caliban.mpiz-koeln.mpg.de/">Kurt Stüber</a> for providing a <a href="http://caliban.mpiz-koeln.mpg.de/haeckel/kunstformen/">medium resolution pdf</a> via the <a href="http://www.mpiz-koeln.mpg.de/">Max Planck Institute for Plant Breeding Research</a>.</p>

<p>Social icons were curated under the collection <a href="http://dribbble.com/shots/922852-Socialtograms">Socialtograms</a> by Steffen Nørgaard Andersen and organized in a nice <a href="http://dribbble.com/shots/922852-Socialtograms/attachments/102391">Adobe Illustrator document</a>.</p>

<p><img src="/img/haeckel_ostracion_spec_b.png" class="center"></p>

<div class="nav-home"><a href="/"><span class="arrow">←</span> Back to homepage</a></div>
