---
layout: global
title: Biographia
author: Carl Hoyer
description: The personal bio of Carl Hoyer, designer, developer and sysadmin.
keywords:
homelink: true
---

<h1>Greetings.</h1>

<p class="gamma">My name is Carl Hoyer. My voice is my passport, verify me.</p>

<p>I grew-up and currently live in the vast frontier known as the <a href="http://www.youtube.com/watch?v=OJE3EgTGg9k">Great White North</a>, nestled in the hills bordering suburban wilderness.</p>

<p>I enjoy creating and simplifying things. My design, development and system administration services are available under the company monikier <a href="http://pixolium.ca">Pixolium</a>. I have also been known to wire up the odd network, setup server rooms and get my hands dirty supporting computer environments from time-to-time.</p>

<p>You can find out more about me professionally on <a href="http://www.linkedin.com/in/carlhoyer">LinkedIn</a>, peruse some of my code on <a href="ttps://github.com/choyer">github</a> or enjoy short nuggets of wisdom via my twitter profile <a href="https://twitter.com/choyer">@choyer</a>. Sometimes I even have flashes of <a href="https://soundcloud.com/0derivative">melodic genius</a>.</p>

<p>When not in front of the keyboard, I am often on the road or trails riding one of my unicycles. I met my wife through the sport of unicycling and it continues to offer new learning oportunities and amazing adventures. I maintain a site of some of the <a href="http://mountainunicycling.com">best mountain unicycle quotes</a>.</p>

<img src="/img/haeckel_ostracion_spec_b.png" class="center">
