---
layout: global
title: Work
author: Carl Hoyer
description: The things Carl Hoyer has done, is doing, will do.
keywords:
homelink: true
---
<h1>My Work</h1>

<p>I freelance my design, development and system administration skills under the company monikier <a href="http://pixolium.ca">Pixolium</a>. There you will find more about the services I offer, my professional client work and design portfolio.</p>

<p>-</p>

<h2>Personal Projects</h2>

<p>I like creating things. Here are a selection:</p>

<p>∙ <a href="https://github.com/choyer/capistrano-ee2-deploy">Capistrano recipe</a> for deploying <a href="http://ellislab.com/expressionengine">ExpressionEngine 2</a> via Git</p>

<p>∙ <a href="http://mountainunicycling.com">Awesome mountain unicycling quotes</a></p>

<img src="/img/haeckel_epeira.png" class="center">
